<div class="user-details-container">
  <a href="/users/<%= @user.id %>" class="user-link">
    <%= render 'partials/user', user: @user %>
  </a>
  
  <div class="user-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  
  <% @user.three_most_recent_posts.each do |post| %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="post-link">
      <div class="post-details">
        <%= render 'partials/post', post: post %>
      </div>
    </a>
  <% end %>
  
  <div class="see-all-posts">
    <a href="/users/<%= @user.id %>/posts" class="see-all-posts-link">See All Posts</a>
  </div>
</div>
